
#container{
    height: 100%;
    .yo-multilist{
        width: 100%;
        height: 100%;
    }
}
.product-container{
    padding: 10px 0;
    flex: 1;
    display: flex;
}
.item-1{
	width:100%;
	background:red;
}

.asd{
	color:red;
}







