@import  "../fragment/yo-search";
@import  "../fragment/yo-header";


#root{
    height:100%;
}
@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont.woff) format("woff"), url(/iconfont/iconfont.woff) format("truetype"); }

@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont-search.woff) format("woff"), url(/iconfont/iconfont-search.woff) format("truetype"); }
 @include yo-search(
   $input-bgcolor:#eee,
   $bgcolor:#fff,
   $input-radius:.2rem
 

  
);
 @font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont-my.woff) format("woff"), url(/iconfont/iconfont-my.woff) format("truetype"); }

