
@import '../fragment/yo-header';
@import '../fragment/yo-search';
/*
*头部yo-header,yo-search,banner采用了yo框架的Carousel
*
*/
@font-face {
  font-family: yofont;
  src:
  url(/iconfont/head-iconfont.woff) format('woff'),
  url(/iconfont/head-iconfont.ttf) format('truetype')
}
.yo-header{
    background-color: #fafafa;
    .yo-search{
        background-color: #fafafa;width:80%;margin:0 auto;
        .yo-ico{
            color:red;
        }
        .input{-webkit-border-radius: .15rem;}
    }

}
.yo-search > .action > .input{
    background-color: #f6f6f6;
}
.yo-header::after{
     border-color:#ebebeb;

}
.yo-header > .regret.yo-ico, .yo-header > .regret > .yo-ico, .yo-header > .affirm.yo-ico, .yo-header > .affirm > .yo-ico{
    color:#cfcfcf;
}

.nav{
    height:5.3rem;
    .yo-multilist{
        height:100%;border:none;
        .item-0{
            border: none;background-color: #f6f6f6;
            .yo-list {
                touch-action:none;
                background-color: #f6f6f6;border:none;
                .item{
                    background-color: #f6f6f6;border:0;width:1rem;
                    h1{
                       color: #999;font-size: .12rem;font-weight: normal;
                   }
                }
                .spread{
                    border-left: 3px solid #ff5555;border-right:none;
                    h1{
                        color:#ffa8a8;
                    }
                }

            }
        }
        .item-1{
            .yo-scroller{
              touch-action:none;
              height:5.1rem;
               .hotCate{
                    color:#ffabab;margin:.1rem;font-weight: normal;
               }
               .hotBrands{
                  color:#fad17f;margin:.1rem;
                }
               ul{
                    width:100%;
                    @include flexbox();
                   /* @include justify-content(center);*/
                   margin-left:.15rem;font-size: .12rem;
                    @include flex-flow(wrap);
                    li{
                        text-align: center;width:.8rem;font-weight: normal;color: #999;
                        .listImg{
                            width:.69rem;height:.69rem;margin:0 auto;
                            img{
                                width:100%;height:100%;
                            }
                        }
                        .listName{
                          width:.68rem;height:.24rem;text-overflow:ellipsis;white-space: nowrap ;overflow: hidden;
                        }

                    }
                    
               }

            }
        }
        
    }
}
