@import './usage/fragment/yo-header';

#root{
    height: 100%;
}

@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont.woff) format("woff"),
  url(/iconfont/iconfont.ttf) format("truetype");
}