<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>联连</title>
</head>
<body>
	<script src="./libs/react.min.js"></script>
	<!--注意依据build文件夹引入-->
	<script type="text/javascript" src="./libs/react-dom.min.js" ></script>
	<script type="text/javascript" src="./libs/ReactRouter.min.js" ></script>
	<script type="text/javascript" src="./libs/jquery.js"></script>
	<script src="./libs/redux.min.js" charset="utf-8"></script>
	<script src="./libs/react-redux.min.js" charset="utf-8"></script>
	<div id="root"></div>
</body>
</html>












